{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": "warn",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": 1,
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "allowChildren": true
    }],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "assert": true,
    "sinon": true,
    "google": true
  }
}