.thumbnailSize {
	width: 100px;
	height: 100px;
}

.thumbnailContainer {
	composes: thumbnailSize;
	border-radius: 5%;
	overflow: hidden;
	background: whitesmoke;
	border: 1px solid #FFE981;
}

.thumbnail {
	composes: thumbnailSize;
}

.inputContainer {
	composes: thumbnailContainer;
	display: flex;
	align-items: center;
	justify-content: center;
}



