.thumbnailSize {
	width: 100px;
	height: 100px;
}


.thumbnailContainer {
	composes: thumbnailSize;
	border-radius: 5%;
	overflow: hidden;
	background: whitesmoke;
	border: 1px solid #FFE981;
}

.thumbnail {
	composes: thumbnailSize;
}

.inputContainer {
	composes: thumbnailContainer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
	cursor: pointer;
}

.inputFile:hover + label {
	filter: invert(50%);
}

.inputFile:active + label {
	filter: invert(100%);
}

.inputFile:focus + label {
	outline: 1px dotted #000;
}



