.listContainer {
	display: flex;
	flex-flow: column nowrap;
    margin-top: 1rem;
}

.item {
    display: flex;
    flex-flow: column nowrap;
}

.item hr {
   margin: 2rem 0;
}

.item:last-child hr {
    display: none;
}

.item > p {
    padding-bottom: .5rem;
}

.itemTitle {
    padding-bottom: 1rem;
}

.userLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.ratingContainer {
    padding-top: .2rem;
}