.productDetailsContainer {
	composes: container from "../../layout.css";
	height: 100%;
}

.productInfoContainer {
	composes: container from "../../layout.css";
}

.productDetails {
	composes: productDetailsContainer;
	align-items: center;
	padding: 2em;
}

.productLayout {
	margin: 0 auto 1em auto;
}

.productInfo {
	composes: productLayout productInfoContainer;
	padding: 2em;
	width: 70%;
}

.productInfo section {
	margin-bottom: 5em;
}

.carousel {
	composes:productLayout;
	padding: 1em;
	width: 80%;
}

.geolocation {
	text-align: center;
}

.map {
	width: 100%;
	height: auto;
}

@media (min-width: 800px) {
	.carousel {
		width: 50%;
		min-width: 500px;
	}
}

@media (min-width: 1200px) {
	.carousel {
		width: 40%;
		min-width: 500px;
	}

	.productDetailsContainer {
		flex-flow: row nowrap;
	}
}

