.container {
	position: relative;
}

.deleteBtn {
	composes: alignCenter from "../layout.css";
	position: absolute;
	width: 20%;
	height: 20%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: red;
	cursor: pointer;
}

.deleteBtn:hover {
	opacity: 0.8;
}

.deleteBtn:active {
	opacity: 0.5;
}

.deleteBtn:focus {
	outline: 1px dotted #000;
}

.imageContainer {
	opacity: 0.3;
}