.container {
	display: flex;
	padding: 1em;
}

.text {
	composes: alignCenter from "../../layout.css";
	padding: 1em;
}

.userImage {
	composes: userImage from "../../layout.css";
	width: 55px;
	height:55px;
}