.header {
	padding: 1em;
	background: #FFE981;
}

.nav {
	display: flex;
}

.logo {
	flex: 1;
}

.menuIcon {
	composes: fa fa-bars fa-lg from "font-awesome/css/font-awesome.css";
	width: 60px;
	text-align: center;
}

.logo {
	text-align: center;
}

.searchIcon {
	composes: fa fa-search fa-lg from "font-awesome/css/font-awesome.css";
	width: 60px;
	text-align:  center;
}

.iconText {
	font-size: smaller;
	text-align: center;
}