.header {
	padding: 1em;
	background: #FFE981;
}

.nav {
	display: flex;
}

.logo, .menu, .search {
	flex: 1;
}

.menu {
	composes: fa fa-bars fa-lg from "font-awesome/css/font-awesome.css";
	text-align: left;

}

.logo {
	text-align: center;
}

.search {
	composes: fa fa-search fa-lg from "font-awesome/css/font-awesome.css";
	text-align: right;
}