html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.well {
    border: 2px solid lightgrey;
    border-radius: 10px;
}

.invalidWell {
    composes: well;
    border: 1px solid red;
}

.errorText {
    color: red;
    margin-top: 2rem;
}

.linkReset {
    text-decoration: none;
    color: black;
    display: block;
}


