@import "./global.css";

.container {
	display: flex;
	flex-flow: column nowrap;
}

.main {
	flex: 1;
	padding: 2em;
}

.alignCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}