@import "./global.css";

.container {
	display: flex;
	flex-flow: column nowrap;
}

.main {
	flex: 1;
	padding: 2em;
}

.alignCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.userImage {
	background: whitesmoke;
	margin-bottom: 0.5em;
	border: double 5px lightgray;
	padding: 0.1em;
	border-radius: 50%;

}