.filter {
	composes: well from "../../global.css";
	margin-bottom: 2rem;
	padding: 1rem;
}

.filter hr {
	margin-bottom: 1rem;
}

.invalid {
	composes: invalidWell from "../../global.css";
}

.errorText {
	composes: errorText from "../../global.css";
}

.invalidFilter {
	composes: filter invalid;
}

.label {
	display: block;
	margin-bottom: 5px;
}
