.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
	cursor: pointer;
}

.inputFile:hover + label {
	filter: invert(50%);
}

.inputFile:active + label {
	filter: invert(100%);
}

.inputFile:focus + label {
	outline: 1px dotted #000;
}