.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #00d4b4;
	z-index: 1;
	transition: left 0.5s;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	background: dimgray;
	z-index: 1;
	transition: left 0.5s, opacity linear 0.5s;
}